* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: SantioBold;
    src: url(../fonts/SANTIO/TTF/Santio\ Bold.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: Tangerine;
    src: url(../fonts/Tangerine/Tangerine-Regular.ttf);
}

.fontRoboto {
    font-family: Roboto;
}

.fontSantioBold {
    font-family: SantioBold;
}

.fontTangerine {
    font-family: Tangerine;
}

.backgroundGrey {
    background-color:rgb(41, 41, 41);
    padding: 0.3%;
}

.white {
    color: white;
}

.grey {
    color: #efefef;
}

.yellow {
    color: #e7bc0e;
}

.green {
    color: #6bc1a3;
}

.pink {
    color: #cb91b6;
}
.blue {
    color: #7eb8e1;
}

.textLarge {
    font-size: 10rem;
}

.textMedium {
    font-size: 2.5rem;
}

.parallax {
    background-image: url("../img/cleo-topper.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8%;
}

.parallaxLayer1 div{
    font-size: 4rem;
    width: 35%;
}

.parallaxLayer2 div{
    font-size: 4rem;
    text-align: left;
}

.parallaxLayer3 div{
    text-align: left;
    width: 80%;
    margin: auto;
    line-height: 50px;
}

.parallaxLayer4 div{
    font-size: 6rem;
    text-align: left;
    width: 60%;
}

.parallaxLayer4 div h2{
    line-height: 60px;
}

.parallaxLayer4 div span{
    font-size: 2.3rem;
    text-align: left;
    width: 80%;
    margin: auto;
}

.parallaxLayer4 img {
    width: 150px;
    margin-bottom: 50px;
}

.parallaxLayer5 div{
    font-size: 2rem;
    text-align: left;
    width: 40%;
    display: flex;
    flex-wrap: wrap; 
}

.parallaxLayer5 img {
    width: 150px;
    margin-bottom: 50px;
}

.parallaxLayer5 div span{
    width: 40%;
}

.parallaxLayer5 div h2{
    font-size: 3rem;
    text-align: left;
    width: 600px;
}

.parallaxLayer6 div p{
    text-align: left;
    width: 50%;
    margin: auto;
}

.parallaxLayer6 img {
    width: 150px;
    margin-bottom: 50px;
}

.parallaxLayer7 div{
    text-align: left;
    width: 60%;
    margin-left: 30vw;
    line-height: 60px;
}

.text p {
    background-color: transparent;
    height: 100vh;
}

.image {
    background-image: url(../img/kid.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
}

.bottom {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.bottom div {
    margin: 8%;
    width: 40%;
    font-size: 6rem;
}

.bottom div a {
    padding: 2%;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
}

.bottom div a:hover {
    box-shadow: white 3px 3px 3px;
}

