* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

@font-face {
    font-family: SantioBold;
    src: url(../fonts/SANTIO/TTF/Santio\ Bold.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: Tangerine;
    src: url(../fonts/Tangerine/Tangerine-Regular.ttf);
}

.fontRoboto {
    font-family: Roboto;
}

.fontSantioBold {
    font-family: SantioBold;
}

.fontTangerine {
    font-family: Tangerine;
}

.white {
    color: white;
}

.grey {
    color: #efefef;
}

.yellow {
    color: #e7bc0e;
}

.green {
    color: #6bc1a3;
}

.pink {
    color: #cb91b6;
}
.blue {
    color: #7eb8e1;
}

.textLarge {
    font-size: 10rem;
}

.textMedium {
    font-size: 2.5rem;
}

.parallax {
    background-image: url("../img/cleo-topper.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
}

.parallax:nth-of-type(1) div{
    font-size: 4rem;
    width: 35%;
}

.parallax:nth-of-type(2) div{
    font-size: 4rem;
    text-align: left;
}

.parallax:nth-of-type(3) div{
    font-size: 3.5rem;
    text-align: left;
    width: 80%;
    margin: auto;
}

.parallax:nth-of-type(4) div{
    font-size: 6rem;
    text-align: left;
    width: 50%;

    display: flex;
    flex-wrap: wrap; 
}

.parallax:nth-of-type(4) div span{
    font-size: 2.3rem;
    text-align: left;
    width: 80%;
    margin: auto;
}

.parallax:nth-of-type(5) div{
    font-size: 2rem;
    text-align: left;
    width: 40%;

    display: flex;
    flex-wrap: wrap; 
}



.parallax:nth-of-type(6) div p{
    text-align: left;
    width: 50%;
    margin: auto;
}

.text p {
    background-color: transparent;
    height: 100vh;
}

.image {
    background-image: url(../img/kid.png);
    height: 100%;
    background-size: cover;
}

.bottom {
    height: 100vh;
    background-color: black;
}

